{% extends 'base.html' %}

{% load static %}
{% block metadescription %}
  {% if category %}
    {{category.description| truncatewords:155 }}
  {% else %}
    Welcome to the Choice Online Store where you can buy different items...
  {% endif %}
{% endblock %}

{% block title %}
  {% if category %}
    {{ category.name }} -Choice
  {% else %}
    See our new collections....Choice
  {% endif %}
{% endblock %}

{% block content %}
  {% if category %}
    <div>
      <div class="row my_row_class">
        <div class="mx-auto">


        <p> <a href="{% url 'eapp:allpdtcart' %}">Our Product Collection </a> </p>
    </div>
      </div>
  </div>
{% endif %}

  <div class="mx-auto">
    {% if category %}
      <img class="my_image"  src="{{ category.image.url }}" alt="{{ category.name }}"  >
  </div>
<br>

<div>
  <h1 class="text-center my_title">{{ category.name }} </h1>
  <p class="text-justify">{{ category.description }}</p>
</div>

  {% else %}
  <div>
    <img class="my_image my_image_padding" src="{% static 'img/2.png' %}"  alt="Our Products" width="2500 px" height="400 px" >
  </div>
<br>

  <div>
    <h1 class="text-center my_title">Our Product Collection </h1>
    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
  </div>

{% endif %}
<div class="container">
  <div class="row mx-auto">
    {% for product in products.object_list %}
      <div class="my_bottom_margin col-9 col-sm-12  col-md-4 col-lg-4">
        <div class="card text-center" style="min-width:18em">
        <a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
          <div class="body">
            <h4>{{ product.name }}</h4>
            <p>{{ product.price }}</p>
          </div>
      </div>
  </div>
  {% endfor %}
  </div>
  <div class="mx-auto">
    {% if products.paginator.num_pages > 1 %}
    <hr>
    <div class="text-center">
       {% for pg in products.paginator.page_range %}
      <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
      {% endfor %}
    </div>
   {% endif %}
  </div>
  <br>
</div>
{% endblock %}
